break-before-in=auto
break-collection-expressions=wrap
break-sequences=false
break-struct=natural
cases-matching-exp-indent=compact
doc-comments=before
doc-comments-tag-only=fit
dock-collection-brackets=false
exp-grouping=preserve
indicate-multiline-delimiters=space
indicate-nested-or-patterns=space
infix-precedence=parens
leading-nested-match-parens=true
margin = 79 # ocamlformat seems to add 1
module-item-spacing=preserve
sequence-style=separator
space-around-arrays=false
space-around-lists=false
space-around-records=false
space-around-variants=false
wrap-comments=true
